@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
.App {
  width: fit-content;
  height: fit-content;
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  background-color: #28282B;
  font-family: "Orbitron";
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;  /* Centers horizontally */
  align-items: center;      /* Centers vertically */
}

.Title {
  color: white;
  height: fit-content;
  font-size: 90px;
  padding: 6vh 0vh 3vh 0vh;
}

.Container {
  background-color: #191919;
  color: white;
  font-family: "Orbitron";
  width: 70vw;
  height: fit-content;
  padding: 1vw;
  margin: 2vh 0;
  border-radius: 20px;
  font-size: 25px;
  line-height: 40px;
  transition: transform 0.5s ease;
}

.Source-Button {
  font-size: 19px;
  background-color: orange;
  color: black;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  transition: transform 0.5s ease;
}

.Container:hover{
  transform: scale(1.03);
  cursor: pointer;
}
.Source-Button:hover {
  transform: scale(1.08);
  cursor: pointer;
}

img {
  max-width: 800px;

}

.Clipboard {
  display: flex;
  flex-direction:  row;
  width: fit-content;
  height: fit-content;
  background-color: white;
  padding: 10px;
  margin: 0px 0px 30px 0px;
  border-radius: 10px;
}

svg:hover {
  transform: scale(1.2);
}

.Link {
  margin-left: 10px;  
} 
